/* ==========================================================================
   UU-Infolab specific
   ========================================================================== */

html {

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }

}

div.profiles {
  width: 100%;
}

figure.profile {
  width: 220px;
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-right: 10px;
}

figcaption.profile {
  width: 100%;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  padding: 10px 20px;
}

img.profilepic {
    width: 100%;
    height:220px; 
    object-fit: cover;
    object-position: 50% 25%;
}

div.stop {
    clear: both;
}

.research-area-box {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

.research-area-figure {
    border-radius: 5px;
    overflow: hidden;
    height: 167px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: box-shadow 0.3s ease;
}

.research-area-img {
    position: absolute;       
    top: 50%;                 
    left: 50%;
    width: auto;              
    height: auto;
    min-width: 100%;          
    min-height: 100%;         
    transform: translate(-50%, -50%); 
    display: block;
}

.research-area-box:hover .research-area-figure {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.text-in-img {
background-color: darkred;
color: white;
display: inline;
padding: 5px 10px;
margin: 0 0 0 10px;
border-radius: 3px;
}

.research-area-text-size {
    font-size: 24px;
}

.research-area-text {
    background-color: #fff;
    color: #41444d;
    margin: 10px 10px 20px 20px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.no-margins {
    margin: 0;
}

.pull-up {
    margin-top: -30px;
}

.research-area-header {
    display: inline-block;
    vertical-align: middle;
}

.margin-b {
    margin-bottom: 20px;
}

.research-page-text {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}






box-around {
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.page-title {
    clear: both;
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    color: #3366CC;
}

h2 {
    position: relative;
    font-weight: normal;
    display: block;
    line-height: 22px;
    font-size: 17px;
    padding: 0;
    color: inherit;
    margin: 0;
}






